@layer base {
  :root {
    --text-accent: 262.1 83.3% 57.8%;
    --text-accent-hover: 210 20% 98%;
  }

  [data-theme='green'] {
    --text-accent: 143 100% 50%;
    --text-accent-hover: 143 100% 44.1%;
  }
}
